@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");
:root {
  --blog-color: #3b5ed7;
  --bg-color: #2c2c30;
  --card-color1: #373944;
  --card-color2: #5b5d67;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h3,
h4,
a {
  font-family: "Roboto Mono", monospace;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  background: var(--bg-color);
  padding: 20px;
  min-height: 100vh;
}
main {
  max-width: 1920px;
  /* background: lightsalmon; */
  width: 100%;
  height: 100%;
}

nav img {
  width: 40px;
  height: 40px;
}
.hamburger {
  display: none;
  z-index: 2;
}
/* .hamburger > img {
  width: 40px;
  height: 40px;
} */
nav {
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
}
nav h3 {
  flex-grow: 2;
  color: white;
}
.right-side {
  /* background: lightgray; */
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right-side ul {
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}
ul li {
  list-style: none;
}

.blog {
  background: var(--blog-color);
  padding: 5px 20px;
  border-radius: 5px;
}
.home {
  /* background: lightpink; */
  height: 100vh;
  display: flex;
}
.window {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: lightsteelblue; */
  padding: 10px;
  perspective: 1000px;
  flex: 1;
}

.bio {
  flex: 1;
  /* background: lightseagreen; */
  display: flex;
  align-items: center;
}
.terminal {
  padding: 15px;
  min-width: 250px;
  min-height: 200px;
  height: 50%;
  width: 70%;

  background: black;
  border-radius: 20px;

  transform: rotateY(30deg) rotateX(5deg);
}

.red,
.green,
.yellow {
  width: 10px;
  height: 10px;

  margin-right: 7px;
  border-radius: 50%;
}
.red {
  background: red;
}
.green {
  background: rgb(44, 243, 44);
}
.yellow {
  background: rgb(235, 235, 25);
}

.panel {
  display: flex;
}
.terminal h4 {
  display: inline-block;
  color: white;
  margin: 20px 10px 0 0;
  font-size: 20px;
}
.bio-quote {
  /* background: green; */
  margin: auto;
  font-size: 15px;
}
.bio-quote h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 3em;
}
.and {
  /* background: lightseagreen; */
  width: fit-content;
  margin: auto;
}

.projects > h3,
.contact > h3 {
  /* background-color: lightgreen; */
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  font-size: 3em;
}

.option-enable {
  /* display: none; */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transform: translate(0, -100vh);

  background-color: var(--bg-color);

  z-index: 1;
}
.options-mobile {
  height: 100vh;
  /* background-color: gainsboro; */

  display: flex;
  flex-direction: column;
  align-items: center;
}
.animateToBottomClass {
  animation: animateToBottom 0.3s ease forwards;
}
.animateToTopClass {
  animation: animateToTop 0.3s ease forwards;
}
.works {
  perspective: 1000px;

  /* background: lightseagreen; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.works a {
  transition: 0.2s ease;
  border-radius: 10px;
  display: flex;
  background: var(--card-color1);
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}
.animateCard {
  transform: rotateX(180deg);
  transition: 0.3s ease;
}

.works a:nth-child(2n) {
  background: var(--card-color2);
}
.card {
  /* background: lightsalmon; */
  width: fit-content;
  margin: auto;
}
.projects {
  margin: 30px 0px;
}
.contact-links {
  /* background: lightsalmon; */
  max-width: 300px;
  margin: auto;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.contact-links > div {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  margin: 10px;
  border-radius: 10px;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-links a {
  /* background: lightseagreen; */
  width: fit-content;
}
.contact-links img {
  width: 50px;
  height: 50px;
}

@keyframes animateToBottom {
  from {
    transform: translate(0vw, -100vh);
  }
  to {
    transform: translate(0vw, 0vh);
  }
}
@keyframes animateToTop {
  from {
    transform: translate(0vw, 0vh);
  }
  to {
    transform: translate(0vw, -100vh);
  }
}
/* for smaller devices */
@media (max-width: 870px) {
  .terminal > h4 {
    font-size: 15px;
  }
}
@media (max-width: 740px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .right-side > ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .site {
    display: none;
  }
  .right-side {
    justify-content: space-between;
  }
}
@media (max-width: 375px) {
  .bio-quote,
  .bio-quote {
    font-size: 10px;
  }
}
